
__pycache__/creds.cpython-37.pyc
.DS_Store
*.pyc
*.pyc
cache/2291806cf143082e9c006f0910c93395f0ff9045.json
__pycache__/data_processing.cpython-37.pyc
cache/88b2164a915e3ad8aafa9d89d9f939bfd826aa52.json
creds.py
cache/ea0e090d95b05d1f984ba62295b5b7b10f01b9f6.json
cache/c94ea38ac5aebecca4f48a18128b77fe1a61af20.json
map.html
__pycache__/data_processing.cpython-37.pyc
creds.py
data/Crime_Data_from_2010_to_2019-lite.csv
Data/Crime_Data_from_2010_to_2019.csv
Data/MO_CODES_Numerical_20191119.json
Data/MO_CODES_Numerical_20191119.pdf
data/Crime_Data_from_2010_to_2019-lite.csv
Data/cleanData.csv
Data/Reporting_Districts_data.csv
*.pdf
creds.py
__pycache__/data_processing.cpython-37.pyc
map.html
creds.py
Data/UCR-COMPSTAT062618.json
creds.py
test2.html
test3.py
testTime2.py
